#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;

  transform: translateY(-50%);
}

// #Header {

// }

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.new-background-color {
  // --background: #3880ff;
}

ion-header {
  // --ion-background-color: #3880ff;
}

ion-content {
  --ion-background-color: #ffffff;
}

ion-item {
  --color: #000000;
  --border-color: rgb(48, 66, 94);
  --background: #ffffff;
}

.button {
  // margin-top: 10px;
  // margin-left: 10px;
  // margin-right: 10px;
}

ion-toolbar {
  --color: #ffffff;
}

ion-input {
  --color: #000000;
  --border-color: rgb(48, 66, 94);
  --background: #ffffff;
}
