<ion-header translucent>
  <ion-toolbar class="new-background-color">
    <ion-title>Registration Form</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">National ID (13 หลัก)
            </ion-label>
            <ion-input type="tel" color="primary" maxlength="13" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" color="primary" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input color="primary" type="password" min="6" required>

            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input color="primary" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Birthday</ion-label>
            <ion-input color="primary"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <br>

      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" color="primary" disabled="(required == true)">Next</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>