@import "~igniteui-angular/lib/core/styles/themes/index";

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;

  transform: translateY(-50%);
}

// #Header {

// }

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  --ion-background-color: #ffffff;
}

ion-item {
  --color: #000000;
  --border-color: rgb(48, 66, 94);
  --background: #ffffff;
}

ion-toolbar {
  // --color: #ffffff;
}

.date-picker-wrapper {
  padding-left: 1rem;
  // padding-right: 1rem;
  // display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-flow: row;
}

.group {
  padding: 5px;
  width: 100%;
}

.container1 {
  padding-right: 0.5rem;
  right: 0;

  .required {
    color: red;
  }
}

ion-input {
  border-radius: 10px !important;
  margin-top: 1rem;
  font-size: 0.9em;
  border: 2px solid #000000 !important;
  /* height: 10%; */
  /* width: 41%; */
  width: 100%;
  max-width: auto; // this is applying perfectly
  max-height: 10vh;
}

igx-date-picker {
  color: #3880ff;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 10px !important;
  margin-top: 1rem;
  font-size: 0.9em;
  border: 2px solid #000000 !important;
  /* height: 10%; */
  /* width: 41%; */
  width: 100%;
  max-width: 100%; // this is applying perfectly
  max-height: 10vh;
}

ion-datetime {
  color: #3880ff;
  --padding-start: 10px;
  border-radius: 10px !important;
  margin-top: 1rem;
  font-size: 0.9em;
  border: 2px solid #000000 !important;
  /* height: 10%; */
  /* width: 41%; */
  max-width: 100%; // this is applying perfectly
  max-height: 20vh;
}
